<div class="card mat-card tarjeta border rounded">
    <img id="paisaje" class="card-img-top" src="./assets/Lago.jpg" alt="Lago">
    <img id="fotoPerfil" src="./assets/Perfil.jpg" alt="foto perfil">
    <div class="card-body pt-5">
      <div class="container-fluid containerCardPerfil">
        <div class="row justify-content-between">
          <div class="col-8">
            <h4 class="card-title">Federico Roldán</h4>
            <h4 class="card-subtitle mb-2 text-muted">Estudiante Lic. En Psicología</h4>
              <p class="card-text">Córdoba (Argentina).</p>
              <button type="button" class="btn btn-primary">Tengo interés en ..</button>
              <button type="button" class="btn btn-secondary">Añadir Sección</button>
              <button type="button" class="btn btn-secondary">Más</button>
          </div>
          <div class="col-2">
            <img id="logoFacultad" src="./assets/logo-FACULTAD.jpg" alt="logo facultad">
          </div>
        </div>
      </div>
    </div>
  </div>
