<header class="p-3 bg-dark text-white align-items-center contenedorEncabezado">
    <div class="container-fluid encabezado px-2">
      <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
        <a href="/Modulo2/Index.html" class="d-flex align-items-center mb-2 mb-lg-0 text-white text-decoration-none">
          <img class="bi me-2 rounded float-start" width="40" height="40" role="img" aria-label="Bootstrap"
            src="./assets/pinguino.png" alt="Logo Página">
        </a>

        <ul class="nav col-8 col-lg-5 me-lg-auto mb-2 justify-content-center mb-md-0">
          <li><a href="#" class="nav-link px-2 text-secondary">Inicio</a></li>
          <li><a href="#" class="nav-link px-2 text-white">Acerca de...</a></li>
          <li><a href="#" class="nav-link px-2 text-white">Experiencia</a></li>
          <li><a href="#" class="nav-link px-2 text-white">Educación</a></li>
          <li><a href="#" class="nav-link px-2 text-white">Contactos</a></li>
        </ul>

        <form class="col-12 col-lg-auto mb-3 mb-lg-0 me-lg-3">
          <input type="search" class="form-control form-control-dark" placeholder="Search..." aria-label="Search">
        </form>

        <div class="text-end">
          <button type="button" class="btn btn-outline-light me-2">Login</button>
          <button type="button" class="btn btn-warning">Sign-up</button>
        </div>
      </div>
    </div>
  </header>
